body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#login .container #login-row #login-column #login-box {
  margin-top: 30px;
  max-width: 400px;
  margin-left: 74px;
  box-shadow: 0.5em 0.5em 0.7em black;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}